.footer {
  align-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  background: #a3b8cc;
  color: white;
  border-top: 3px solid #c8e4ff;   
}

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}