@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 0;
    margin: 105px auto 100;
}

div.home-div {
    margin: 20px auto;
    padding: 25px 20px 30px;
    text-align: center;
    background: #e8e8e8;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
}

form#urlform {
    width: 90%;
    display: inline-block;
    padding: 0;
}

input#url {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}


button#button {
    padding:15px 35px;
    margin: 20px auto 5px;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(42, 42, 189, 0.45);
    color: white;
    font-size: 13pt;
    cursor: pointer;
}

.alert {
    margin: 30px auto;
}