@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.home-div {
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    background: #e8e8e8;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;

    input {
        width: 300px;
        padding: 5px;
        margin: 10px;
        border-radius: 4px;
        border: none;

        &:focus {
            outline: none;
            border: 1px solid rgba(63, 154, 202, 30%);
        }
    }

    #button {
        padding:15px 35px;
        margin: 10px auto;
        display: block;
        border: none;
        border-radius: 5px;
        background-color: rgba(42, 42, 189, 0.45);
        color: white;
        font-size: 13pt;
        cursor: pointer;
    }
}